@*@{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>SuperList</title>
</head>
<body>
</body>
</html>
