<div class="row">
    <div class="col s12 m6">
        <div class="card light-green lighten-3">
            <div class="card-content">
                <span class="card-title">Faça sua lista de compras!</span>
                <p>
                    Faça agora sua lista de compras. 
                    Você pode cadastrar tudo o que tem e o que falta na sua dispensa, 
                    ou simplesmente fazer uma lista. 
                </p>
            </div>
            <div class="card-action">
                <a href="#/listaDeCompra/criar">Fazer uma lista</a>
                <a href="#/listaDeCompra/minhasListas">Minhas listas</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m6">
        <div class="card light-green lighten-3">
            <div class="card-content">
                <span class="card-title">Cadastre-se</span>
                <p>
                    Ao se registrar você pode ter o controle da sua dispensa,
                    histórico de compras e muito mais.
                </p>
            </div>
            <div class="card-action">
                <a href="#/login">Login</a>
                <a href="#/registrar">Registrar</a>
            </div>
        </div>
    </div>
</div>
