<div class="row">
    <div class="col s12 m6">
        <div class="card red darken-2">
            <div class="card-content white-text">
                <span class="card-title">Faça sua lista!</span>
                <p>
                    Faça agora sua lista de compras. 
                    Você pode cadastrar tudo o que tem e o que falta na sua dispensa, 
                    ou simplesmente fazer uma lista. 
                </p>
            </div>
            <div class="card-action">
                <a href="#/listaDeCompra">Lista de compras</a>
                <a href="#/dispensa">Minha dispensa</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m6">
        <div class="card red darken-2">
            <div class="card-content white-text">
                <span class="card-title">Cadastre-se</span>
                <p>
                    Ao se registrar você pode ter o controle da sua dispensa,
                    histórico de compras e muito mais.
                </p>
            </div>
            <div class="card-action">
                <a href="#/login">Login</a>
                <a href="#/registrar">Registrar</a>
            </div>
        </div>
    </div>
</div>
