<div ng-app="superlist" ng-controller="listaDeCompraCtrl">
    <div>
        <h5 class="blue-text text-darken-2">Minhas listas</h5>
        <a href="#/criarListaDeCompra" class="waves-effect waves-light btn-floating blue"><i class="material-icons left">add</i></a>
    </div>
    <ul class="collection" ng-repeat="lista in listas.data">
        <li class="collection-item">{{lista.DataCriacao}}<a href="#/editarListaDeCompra/{{lista.Id}}" class="secondary-content"><i class="material-icons">send</i></a></li>
    </ul>
    <!--<h3>Serviços</h3>-->
    <!--<a class="btn blue" href="#/servicos/0">Criar</a>-->
    <!--<table class="striped ">
        <tr>
            <th>Item</th>
            <th>Quantidade</th>
        </tr>
        <tr ng-repeat="servico in servicos.data">
            <td><a href="#/servicos/{{servico.Id}}">{{servico.Id}}</a></td>
            <td>{{servico.Descricao}}</td>
        </tr>                             
    </table>-->
</div>